.card {
    position: relative;
    width: 200px;
    border: 1px solid rgba(112, 128, 144, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
    margin: 20px 24px;
    padding: 22px 18px;
    transition: 2s all;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h1 {
    margin: 0;
    font-size: 28px;
}

.subtitle {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtitle span {
    padding: 6px 7px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: all 500ms;
}

.lowerpct {
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: rgb(225, 0, 0);
    transition: all 500ms;
}

.higherpct {
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: rgb(0, 135, 0);
    transition: all 500ms;
}

.higherPrice {
    color: black;
    background-color: rgb(240, 240, 240);
    transition: 2s all;
    animation: fadeInUp 2s forwards linear;
}

@keyframes fadeInUp {
    0% {
        color: black;
        background-color: rgb(240, 240, 240);
    }

    10% {
        color: #006100;
        background-color: #C6EFCE;
    }

    90% {
        color: #006100;
        background-color: #C6EFCE;
    }

    100% {
        color: black;
        background-color: rgb(240, 240, 240);
    }
}

.arrowUp {
    color: #006100;
    transition: 2s all;
}

.lowerPrice {
    color: black;
    background-color: rgb(240, 240, 240);
    transition: 2s all;
    animation: fadeInDown 2s forwards linear;
}

@keyframes fadeInDown {
    0% {
        color: black;
        background-color: rgb(240, 240, 240);
    }

    10% {
        color: #9C0006;
        background-color: #FFC7CE;
    }

    90% {
        color: #9C0006;
        background-color: #FFC7CE;
    }

    100% {
        color: black;
        background-color: rgb(240, 240, 240);
    }
}

.arrowDown {
    color: #9C0006;
    animation: fadeInArrowDown 2s forwards linear;
}

@keyframes fadeInArrowDown {
    0% {
        color: red;
    }

    20% {
        color: white;
    }

    80% {
        color: white;
    }

    100% {
        color: red;
    }
}

.chart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 22px 0 0 0;
}