.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.leftContainer {
    width: 100%;
    max-width: 750px;
}

.newsFeed {
    columns: 2 600px;
    column-gap: 2rem;
}