/* MUI V5 Override */
.button {
    font-size: 20px !important;
    font-weight: bold !important;
    border-radius: 15px !important;
    padding: 2px 12px !important;
    margin-left: 15px !important;
    text-transform: none !important;
    color: rgb(10, 10, 10) !important;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }
}

/* MUI V5 Override */
.buttonActive {
    font-size: 20px !important;
    border-radius: 15px !important;
    padding: 2px 12px !important;
    margin-left: 15px !important;
    background-color: rgba(214, 182, 0, 0.15) !important;
    text-transform: none !important;
    color: rgb(194, 165, 0) !important;
}