.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    /* animation: siia 2s ease; */
    img {
        margin: 0 -40px;
        width: 30vw;
        height: 30vw;
        image-rendering: -webkit-optimize-contrast !important;
    }

    h1 {
        font-size: 10vw;
        display: flex;
        align-items: center;
    }
}

@keyframes siia {
    from {
        transform: scale(0.6);
    }

    to {
        transform: scale(1);
    }
}