.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    /* animation: siia 2s ease; */
    img {
        margin: 0 -25px;
        width: max(8vw, 3em);
        height: max(8vw, 3em);
        image-rendering: -webkit-optimize-contrast !important;
    }

    h1 {
        font-size: max(2vw, 7em);
        display: flex;
        align-items: center;
    }
}

@keyframes siia {
    from {
        transform: scale(0.6);
    }

    to {
        transform: scale(1);
    }
}