.logo {
    display: flex;
    height: 50rem;
    align-items: center;
    justify-content: center;
    transform: scale(1);

    /* animation: siia 2s ease; */
    img {
        margin: 0 -40px;
        image-rendering: -webkit-optimize-contrast !important;
    }

    h1 {
        font-size: 9.5vw;
        display: flex;
        align-items: center;
    }
}

@keyframes siia {
    from {
        transform: scale(0.6);
    }

    to {
        transform: scale(1);
    }
}