.card {
  display: inline-block;
  position: relative;
  max-width: 31%;
  outline: 2px solid transparent;
  // border: 1px solid rgba(112, 128, 144, 0.2);
  // box-shadow: 0 0 3px rgb(0 0 0 / 15%);
  background-color: rgb(253, 253, 253);
  border-radius: 12px;

  /* flex-basis: 20%; */
  margin: 20px 10px;
  padding: 20px 20px;
  flex-basis: 48%;
  transition: border 0.5s, outline 0.5s;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0;
    font-size: 22px;
  }

  img {
    border-radius: 50%;
    background-color: rgba(176, 165, 1, 0.124);
  }
}

.subtitle {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    padding: 6px 7px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: all 500ms;
  }
}

.body {
  margin: 20px 0;
}