.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.leftContainer {
    width: 100%;
    max-width: 750px;
}

.newsFeed {
    columns: 6 500px;
    column-gap: 1rem;
}