.table {
	white-space: nowrap;
	width: 89%;

	th {
		font-weight: bold;
	}

	td {
		font-size: 1.05rem;
		font-weight: 500;
		padding: 15px;
		border-bottom: 1px solid rgb(235, 235, 235);
	}

	tr {
		&:hover {
			background-color: rgb(245, 245, 245);
			cursor: pointer;
			transition: background-color 0.3s;
		}

		&:active {
			background-color: rgb(235, 235, 235);
			transition: background-color 0s;
		}
	}
}

.hideable {
	display: table-cell;
	;
}

@media only screen and (max-width: 900px) {
	.hideable {
		display: none !important;
	}

	.table {
		td {
			padding: 15px 5px !important;
		}
	}
}