.lowerPrice {
  padding: 7px;
  border-radius: 10px;
}

.higherPrice {
  padding: 7px;
  border-radius: 10px;
  border: 1px solid green;
  animation: fadeInUp 2s forwards linear;
}

@keyframes fadeInUp {
  0% {
    background-color: transparent;
    background-color: rgba(0, 128, 0, 0.08);
  }

  20% {
    color: white;
    background-color: rgba(0, 128, 0, 0.9);
  }

  80% {
    color: white;
    background-color: rgba(0, 128, 0, 0.9);
  }

  100% {
    background-color: transparent;
    background-color: rgba(0, 128, 0, 0.08);
  }
}

.arrowUp {
  color: green;
  animation: fadeInArrowUp 2s forwards linear;
}

@keyframes fadeInArrowUp {
  0% {
    color: green;
  }

  20% {
    color: white;
  }

  80% {
    color: white;
  }

  100% {
    color: green;
  }
}

.lowerPrice {
  border: 1px solid red;
  animation: fadeInDown 2s forwards linear;
}

@keyframes fadeInDown {
  0% {
    background-color: rgb(220, 20, 30, 0.08);
  }

  20% {
    color: white;
    background-color: rgb(220, 20, 30, 0.8);
  }

  80% {
    color: white;
    background-color: rgb(220, 20, 30, 0.8);
  }

  100% {
    background-color: rgb(220, 20, 30, 0.08);
  }
}

.arrowDown {
  color: red;
  animation: fadeInArrowDown 2s forwards linear;
}

@keyframes fadeInArrowDown {
  0% {
    color: red;
  }

  20% {
    color: white;
  }

  80% {
    color: white;
  }

  100% {
    color: red;
  }
}

.lowerpct span,
.higherpct span {
  padding: 7px;
  border-radius: 10px;
  transition: all 500ms;
}

.lowerpct span {
  border: 1px solid rgb(225, 0, 0);
  color: rgb(225, 0, 0);
  transition: all 500ms;
}

.higherpct span {
  border: 1px solid rgb(0, 135, 0);
  color: rgb(0, 135, 0);
  transition: all 500ms;
}

.table {
  td {
    font-size: 1.05rem;
    font-weight: 500;
  }

  th {
    font-weight: 900;
  }
}

.name {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
  }
}