.logo {
    display: flex;
    height: 50rem;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    animation: siia 2s ease;
}

@keyframes siia {
    from {
        transform: scale(0.6);
    }

    to {
        transform: scale(1);
    }
}