.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    z-index: 100;
}

.navbar span, .navbar a {
    font-weight: bold;
    font-size: 25px;
}

.content {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}

.button {
    font-size: 20px;
    margin-left: 15px !important;
}

.buttons {}