.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.55);
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(16px);
    z-index: 100;
}

.navbar span {
    font-weight: bold;
    font-size: 20px;
}

.navbar a {
    font-weight: bold;
    font-size: 20px;
}

.content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}

.button {
    font-size: 20px;
    margin-left: 15px !important;
}

.active {
    font-size: 20px;
    color: #d6b600 !important;
    margin-left: 15px !important;
}

.logo {
    user-select: none;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.logo span {
    font-size: 23px;
    font-weight: 900;
}

.logo img {
    margin: 0 5px;
    image-rendering: -webkit-optimize-contrast;
}

/* 
.logo span:active {
    animation: logoClick 0.2s;
}

.logo span:not(:active) {
    animation: logoNotClick 0.2s;
}

@keyframes logoClick {
    from {
        color: black;
    }

    to {
        color: rgb(255, 247, 0);
    }
}

@keyframes logoNotClick {
    from {
        color: rgb(255, 247, 0);
    }

    to {
        color: black;
    }
} */

/* .logo:hover {
    animation: logoHover 0.2s forwards;
}

.logo:not(:hover) {
    animation: logoNotHover 0.2s forwards;
}

@keyframes logoHover {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.15);
    }
}

@keyframes logoNotHover {
    from {
        transform: scale(1.15);
    }

    to {
        transform: scale(1);
    }
} */