@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


html,
body {
	margin: 0;
	margin-top: 1px;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

* {
	box-sizing: border-box;
}

img {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

/* Global MUI Overrides */

.MuiLinearProgress-bar {
	transition: 1800ms !important;
}

.MuiToggleButtonGroup-grouped {
	margin: 0 3px !important;
	border: 0 !important;
}

.MuiToggleButtonGroup-root .Mui-disabled {
	border: 0 !important;
}

.MuiToggleButton-root {
	background-color: rgba(246, 246, 246) !important;
	border-radius: 12px !important;
}

.MuiToggleButtonGroup-root .Mui-selected {
	color: rgb(182, 155, 0) !important;
	background-color: rgba(214, 182, 0, 0.15) !important;
}